<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/node.svg" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/essentials.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Welcome to home page!</h3>
    <nav>
      <a href="/books"><button>All Books</button></a>
      <a href="/genres"><button>All Genres</button></a>
    </nav>
    <div class="grid">
      <% genres.forEach(genre => { %>
      <a href="/genres/<%= genre.genre_id %>/books">
        <div class="grid-item">
          <div class="heading"><%= genre.name %></div>
        </div>
      </a>
      <% }) %>
    </div>
  </body>
</html>
