<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/node.svg" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/form.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include('partials/errors.ejs') %>
    <form action="/genres/<%= genreId %>/update" method="POST">
      <fieldset>
        <label for="name"
          >Name:
          <input type="text" name="name" id="name" />
        </label>
        <button type="submit">Submit</button>
      </fieldset>
    </form>
    <a href="/genres"><button>Back to genres</button></a>
  </body>
</html>
