body {
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

/* legend {
  background-color: lightgray;
  border: thin solid black;
  padding: 4px;
  border-radius: 6px;
} */

fieldset {
  border: thin solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

input {
  border-radius: 6px;
  border: thin solid black;
  outline: none;
}

input[type="text"] {
  padding: 4px 8px;
  font-size: 14px;
}

form button {
  background-color: rgb(32, 32, 32);
  color: white;
}
form button:hover {
  background-color: white;
  color: black;
}
form button:active {
  background-color: rgba(32, 32, 32, 0.8);
}

form {
  border: thin solid black;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


